html {
  font-size: 62.5%;
  width: 100%;
  overflow-x: hidden;
  scrollbar-width: none;
}
html::-webkit-scrollbar {
  display: none;
}

body {
  min-width: 320px;
  width: 100vw;
  height: 100%;
  margin: 0;
  background: #ffffff;
  font-family: "M PLUS 1p", sans-serif;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}
body.is-open {
  position: fixed;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin-top: 0;
  padding: 0;
  font-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
a :hover {
  opacity: 0.6;
}

q {
  quotes: none;
}

.l-header {
  height: 215px;
  background-color: #fff7ef;
}
@media (min-width: 590px) {
  .l-header {
    height: 217px;
  }
}
.l-header_link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
.l-header__ttl {
  height: 47px;
  color: #707070;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 12px;
  font-weight: 700;
}
@media (min-width: 590px) {
  .l-header__ttl {
    margin-top: -20px;
  }
}
@media (min-width: 960px) {
  .l-header__ttl {
    height: 75px;
    font-size: 6.4rem;
    justify-content: space-between;
    padding-top: 66px;
    margin-left: 65px;
  }
}

.c-mainvisual {
  height: 285px;
  width: 100%;
  position: relative;
}
@media (min-width: 960px) {
  .c-mainvisual {
    height: 530px;
  }
}
.c-mainvisual img {
  height: 285px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 960px) {
  .c-mainvisual img {
    height: 530px;
  }
}

.c-main__sitettl {
  color: #ffffff;
  height: 53px;
  width: 216px;
  font-size: 3.6rem;
  font-weight: 700;
  position: absolute;
  top: 122px;
  left: 25px;
}
@media (min-width: 590px) {
  .c-main__sitettl {
    position: absolute;
    top: 122px;
    left: 86px;
  }
}
@media (min-width: 960px) {
  .c-main__sitettl {
    font-size: 4rem;
    height: 59px;
    width: 240px;
    position: absolute;
    top: 234px;
  }
}

.p-main__wrapperGrid {
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr;
  margin: 5vw;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid {
    margin: 5vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
    margin-bottom: 5vw;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid {
    width: 80vw;
    gap: 0;
  }
}
.p-main__wrapperGrid-item {
  position: relative;
  background-size: cover;
  display: flex;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid-item {
    width: 42vw;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid-item {
    width: 32.1vw;
  }
}
.p-main__wrapperGrid-ttl {
  font-size: 4.1rem;
  font-weight: 700;
  color: #eaeaea;
  position: absolute;
  top: 3.4vw;
  left: 4vw;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid-ttl {
    font-size: 4.4rem;
    position: absolute;
    top: 1.6vw;
    left: 1.3vw;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid-ttl {
    font-size: 8rem;
    position: absolute;
    top: 1.4vw;
    left: 1.1vw;
  }
}
.p-main__wrapperGrid-ttl::after {
  content: "";
  height: 4px;
  width: 33.89px;
  background-color: #ffffff;
  display: block;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid-ttl::after {
    width: 35.94px;
    margin-top: 8.57px;
    margin-left: 4.12px;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid-ttl::after {
    width: 63px;
    margin-left: 7.5px;
  }
}
.p-main__wrapperGrid-txtboxset {
  padding: 4.2vw;
  margin-top: 71.45vw;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid-txtboxset {
    padding: 1.9vw;
    margin-top: 40.29vw;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid-txtboxset {
    padding: 1vw;
    margin-top: 31.16vw;
  }
}
.p-main__wrapperGrid-txtbox {
  height: auto;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 16px;
  margin-top: 4vw;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid-txtbox {
    padding-right: 15px;
    margin-top: 2vw;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid-txtbox {
    padding: 1vw;
    margin-top: 1vw;
    padding-bottom: 14px;
  }
}
.p-main__wrapperGrid-txt {
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 400;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid-txt {
    font-size: 1.4rem;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid-txt {
    font-size: 1.6rem;
  }
}
.p-main__wrapperGrid-txt__ttl {
  color: #3c2a10;
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: -5px;
  margin-bottom: 8px;
}
@media (min-width: 590px) {
  .p-main__wrapperGrid-txt__ttl {
    font-size: 2.4rem;
    margin-bottom: 16px;
  }
}
@media (min-width: 960px) {
  .p-main__wrapperGrid-txt__ttl {
    margin-bottom: 10px;
  }
}

a {
  align-self: flex-end;
}

.eatin-bg {
  background-image: url(../images/473d814b175bd517b56eb309f2958725.jpg);
}

.takeout-bg {
  background-image: url(../images/three-burgers-on-brown-wooden-tray-between-white-ceramic-1841108.jpg);
}

.p-map {
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4029), rgba(0, 0, 0, 0.4029)), url(../images/map.png);
  background-size: cover;
}
@media (min-width: 960px) {
  .p-map {
    width: 80vw;
  }
}
.p-map-ttl {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  width: 240px;
  height: 45px;
}
@media (min-width: 960px) {
  .p-map-ttl {
    font-size: 3.6rem;
    margin-top: 4.5vw;
    width: 288px;
    height: 53px;
  }
}
.p-map-ttl::after {
  content: "";
  height: 2px;
  width: 75px;
  background-color: #ffffff;
  display: block;
  margin-top: 15px;
}
@media (min-width: 960px) {
  .p-map-ttl::after {
    margin-top: 50.5px;
    margin-left: 0.5px;
  }
}
.p-map-txt {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 33px;
  height: auto;
  margin-top: 29px;
}
@media (min-width: 960px) {
  .p-map-txt {
    width: 36vw;
    font-size: 1.6rem;
    margin-top: 109px;
  }
}
.p-map-txtset {
  width: 100%;
  padding: 40px;
  padding-bottom: 15.2vw;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2855) 60%, rgba(0, 0, 0, 0) 60%);
}
@media (min-width: 590px) {
  .p-map-txtset {
    padding: 5vw;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.2855) 60%, rgba(0, 0, 0, 0.2855) 60%);
  }
}
@media (min-width: 960px) {
  .p-map-txtset {
    padding-top: 4.4vw;
    padding-left: 6.1vw;
    padding-bottom: 3.9vw;
    padding-right: 38.3vw;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2855) 61.1%, rgba(0, 0, 0, 0) 61.1%);
  }
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9d8670;
  padding: 16px;
}
@media (min-width: 590px) {
  .l-footer {
    height: 150px;
    padding: 30px;
  }
}
@media (min-width: 960px) {
  .l-footer {
    height: 150px;
    padding-top: 41px;
  }
}
.l-footer__menu {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 590px) {
  .l-footer__menu {
    font-size: 2rem;
  }
}
.l-footer__copyright {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 70px;
}
@media (min-width: 590px) {
  .l-footer__copyright {
    margin-top: 44px;
    margin-bottom: 24px;
  }
}
@media (min-width: 960px) {
  .l-footer__copyright {
    margin-bottom: 27px;
    margin-top: 31px;
  }
}

.l-side {
  width: 20%;
}
@media (min-width: 960px) {
  .l-side {
    width: 20%;
    position: relative;
  }
}

.l-side__base {
  position: absolute;
  top: 0;
  left: 100%;
  width: 87vw;
  background-color: #f2ede9;
  color: #707070;
  transition: all 300ms 0s ease-out;
  overflow-x: hidden;
  scrollbar-width: none;
}
.l-side__base::-webkit-scrollbar {
  display: none;
}
.l-side__base.is-open {
  z-index: 5;
  position: absolute;
  left: 13vw;
  right: 0;
  transition: all 300ms 0s ease-out;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
@media (min-width: 590px) {
  .l-side__base.is-open {
    position: absolute;
    left: 56vw;
  }
}
@media (min-width: 590px) {
  .l-side__base {
    height: auto;
    width: 44%;
  }
}
@media (min-width: 960px) {
  .l-side__base {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f2ede9;
    color: #707070;
  }
}

.l-side__bg {
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 300ms 1ms ease-in-out;
  opacity: 0;
  overflow-x: hidden;
}
.l-side__bg.is-open {
  opacity: 100;
  z-index: 4;
  transition: all 300ms 1ms ease-in-out;
  overflow-x: hidden;
}
@media (min-width: 960px) {
  .l-side__bg {
    display: none;
  }
}

.p-menu {
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}
.p-menu__btn {
  width: 51px;
  height: 23px;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 2rem;
  font-weight: 700;
  color: #707070;
}
@media (min-width: 590px) {
  .p-menu__btn {
    width: 87px;
    height: 40px;
    margin-top: 20px;
    margin-right: 25px;
    font-size: 3.4rem;
  }
}
@media (min-width: 960px) {
  .p-menu__btn {
    margin-top: 84px;
    margin-left: 2vw;
    margin-bottom: 90px;
  }
}
.p-menu li {
  list-style-type: none;
}
@media (min-width: 960px) {
  .p-menu {
    display: none;
  }
}

.p-menu__btn-pc {
  display: none;
}
@media (min-width: 960px) {
  .p-menu__btn-pc {
    display: inherit;
  }
}

.p-menu__closebtn {
  background-color: #707070;
  width: 42.25px;
  height: 6px;
  margin-top: 20px;
  margin-right: 3px;
  margin-left: auto;
  display: block;
  text-align: right;
  transform: rotate(-45deg);
}
@media (min-width: 590px) {
  .p-menu__closebtn {
    margin-top: 40px;
    margin-right: 25px;
  }
}
@media (min-width: 960px) {
  .p-menu__closebtn {
    display: none;
  }
}
.p-menu__closebtn::after {
  background-color: #707070;
  content: "";
  width: 42.25px;
  height: 6px;
  margin-top: 0px;
  margin-right: 32px;
  margin-left: auto;
  display: block;
  text-align: right;
  transform: rotate(90deg);
}
.p-menu__closebtn::before {
  content: "";
  display: block;
  background-color: aqua;
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -20px;
  right: 5px;
  transform: rotate(45deg);
}

.menuList {
  margin-left: 12vw;
  margin-top: 118px;
}
@media (min-width: 590px) {
  .menuList {
    margin-left: 5vw;
    margin-top: 178px;
  }
}
@media (min-width: 960px) {
  .menuList {
    margin-left: 2vw;
    margin-top: 118px;
  }
}

.mainMenu {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 35.64px;
  margin-bottom: 40px;
  margin-top: 60px;
}
@media (min-width: 590px) {
  .mainMenu {
    margin-bottom: 32px;
    margin-top: 48px;
  }
}

.menuItem {
  font-size: 2rem;
  font-weight: 400;
  line-height: 29.7px;
  margin-left: 5vw;
  margin-bottom: 20px;
  list-style: none;
}
@media (min-width: 590px) {
  .menuItem {
    margin-left: 2vw;
  }
}
@media (min-width: 960px) {
  .menuItem {
    margin-left: 1vw;
  }
}

.p-search {
  width: 85.8vw;
  height: 46px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  box-sizing: border-box;
}
@media (min-width: 590px) {
  .p-search {
    width: 65.4vw;
    justify-content: center;
  }
}
@media (min-width: 960px) {
  .p-search {
    width: 28vw;
    margin: auto;
    justify-content: space-between;
    margin-right: 1.6vw;
    margin-top: 20px;
  }
}
.p-search__input {
  width: 57.6vw;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  margin-right: 4.2vw;
  background-color: #ffffff;
  padding: 10px 11px;
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
  line-height: 6.3vw;
}
@media (min-width: 590px) {
  .p-search__input {
    width: 47.4vw;
    margin-right: 1.6vw;
  }
}
@media (min-width: 960px) {
  .p-search__input {
    width: 20vw;
    margin-right: 0.7vw;
  }
}
.p-search__set {
  width: 24vw;
  height: 46px;
  border-radius: 10px;
  border: 1px solid #707070;
  background-color: #ebe6e2;
  font-size: 1.6rem;
  font-weight: 700;
  color: #707070;
}
@media (min-width: 590px) {
  .p-search__set {
    width: 16vw;
  }
}
@media (min-width: 960px) {
  .p-search__set {
    width: 7vw;
  }
}

@media (min-width: 960px) {
  .c-archive {
    width: 80%;
  }
}
.c-archive__ttl {
  color: #3c2a10;
  font-size: 2.8rem;
  font-weight: 700;
  margin-left: 5.8vw;
  margin-top: 8.5vw;
}
@media (min-width: 590px) {
  .c-archive__ttl {
    font-size: 3.6rem;
    margin-top: 4.6vw;
    margin-left: 5vw;
  }
}
@media (min-width: 960px) {
  .c-archive__ttl {
    margin-top: 3.2vw;
    margin-left: 5.2vw;
  }
}
.c-archive__txt {
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 5.8vw;
  margin-top: 6.6vw;
  margin-right: 4.8vw;
}
@media (min-width: 590px) {
  .c-archive__txt {
    margin-left: 5vw;
    margin-top: 2.24vw;
    margin-right: 4.2vw;
  }
}
@media (min-width: 960px) {
  .c-archive__txt {
    margin-left: 5.2vw;
    margin-top: 1vw;
    margin-right: 5.2vw;
  }
}

.c-archive__wrapperGrid {
  display: grid;
  gap: 5vw;
  grid-template-columns: 1fr;
  margin: 5vw;
}
.c-archive__wrapperGrid li {
  list-style: none;
}
@media (min-width: 590px) {
  .c-archive__wrapperGrid {
    margin-right: 2.4vw;
    margin-left: 5.1vw;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.4vw;
    margin-bottom: 12.7vw;
  }
}
@media (min-width: 960px) {
  .c-archive__wrapperGrid {
    width: 80vw;
    gap: 1.5vw;
    margin: 5.2vw;
  }
}
.c-archive__wrapperGrid-item {
  width: 89.6vw;
}
@media (min-width: 590px) {
  .c-archive__wrapperGrid-item {
    width: 90vw;
    display: flex;
  }
}
@media (min-width: 960px) {
  .c-archive__wrapperGrid-item {
    width: 70.4vw;
  }
}
.c-archive__wrapperGrid-item img {
  height: 61.4vw;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 590px) {
  .c-archive__wrapperGrid-item img {
    height: auto;
    width: 45vw;
    -o-object-position: 35%;
       object-position: 35%;
    flex-direction: row;
  }
}
@media (min-width: 960px) {
  .c-archive__wrapperGrid-item img {
    width: 35.2vw;
  }
}
.c-archive__wrapperGrid-ttl {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-top: 4.4vw;
  margin-left: 0.3vw;
}
@media (min-width: 590px) {
  .c-archive__wrapperGrid-ttl {
    margin: 0;
  }
}
@media (min-width: 960px) {
  .c-archive__wrapperGrid-ttl {
    font-size: 3.6rem;
  }
}
.c-archive__wrapperGrid-txtbox {
  height: auto;
  background-color: #3C2B1C;
  color: #ffffff;
  text-align: left;
  padding: 4.2vw;
  position: relative;
  height: 90vw;
  min-height: 350px;
}
@media (min-width: 590px) {
  .c-archive__wrapperGrid-txtbox {
    padding-left: 4.1vw;
    width: 45vw;
    position: relative;
    flex-direction: row;
    height: auto;
    min-height: 400px;
  }
}
@media (min-width: 960px) {
  .c-archive__wrapperGrid-txtbox {
    padding: 3.2vw;
    width: 35.2vw;
    padding-bottom: 3.1vw;
    padding-right: 5.4vw;
    padding-top: 6vw;
  }
}
.c-archive__wrapperGrid-txtbox p {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
}
@media (min-width: 590px) {
  .c-archive__wrapperGrid-txtbox p {
    line-height: 23.76px;
  }
}
@media (min-width: 960px) {
  .c-archive__wrapperGrid-txtbox p {
    font-size: 1.6rem;
  }
}
.c-archive__wrapperGrid-txt__ttl {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 5.6vw;
  margin-bottom: 1.8vw;
}
@media (min-width: 590px) {
  .c-archive__wrapperGrid-txt__ttl {
    margin-bottom: 0.8vw;
  }
}
@media (min-width: 960px) {
  .c-archive__wrapperGrid-txt__ttl {
    margin-bottom: 13px;
    font-size: 2.4rem;
    margin-top: 2.3vw;
  }
}

.c-detail__btn {
  color: #707070;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
  width: 43.5vw;
  height: 11.3vw;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10.6vw;
  margin-bottom: 11.6vw;
  line-height: 11.6vw;
  position: absolute;
  right: 23vw;
  bottom: 0;
}
@media (min-width: 590px) {
  .c-detail__btn {
    width: 19.5vw;
    height: 5vw;
    margin-top: 5.3vw;
    margin-bottom: 0.5vw;
    line-height: 5vw;
    position: absolute;
    bottom: 8vw;
    right: 12.5vw;
  }
}
@media (min-width: 960px) {
  .c-detail__btn {
    margin-top: 3.1vw;
    border-radius: 50px;
    width: 15.2vw;
    height: 3.9vw;
    margin-bottom: 0;
    line-height: 3.9vw;
    right: 10vw;
    bottom: 4vw;
  }
}

.c-pagenation {
  padding-top: 16.5vw;
  padding-left: 5.3vw;
  padding-right: 5.3vw;
  padding-bottom: 8.5vw;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 590px) {
  .c-pagenation {
    padding-top: 0;
    padding-bottom: 3.8vw;
    padding-left: 14.6vw;
    padding-right: 14vw;
  }
}
@media (min-width: 960px) {
  .c-pagenation {
    width: 100%;
    padding-top: 2.6vw 15vw 3.3vw;
  }
}
.c-pagenation__btn {
  color: #707070;
  font-size: 1.6rem;
  font-weight: 400;
}
@media (min-width: 590px) {
  .c-pagenation__btn {
    font-size: 0;
  }
}
.c-pagenation__pageno {
  display: none;
}
@media (min-width: 590px) {
  .c-pagenation__pageno {
    width: 8.7vw;
    height: 33px;
    color: #707070;
    display: unset;
    font-size: 1.6rem;
    font-weight: 700;
    margin-right: 0.3vw;
    margin-top: 8px;
    white-space: nowrap;
  }
}
@media (min-width: 960px) {
  .c-pagenation__pageno {
    display: flex;
    width: 3.8vw;
    margin-right: 2vw;
  }
}
.c-pagenation .page-numbers {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 590px) {
  .c-pagenation .page-numbers li {
    display: block;
    color: #707070;
    font-size: 1.6rem;
    font-weight: 700;
    width: 35px;
    height: 35px;
    border: 1px solid #707070;
    margin-right: 1.7vw;
    text-align: center;
    line-height: 35px;
  }
}
@media (min-width: 590px) and (min-width: 960px) {
  .c-pagenation .page-numbers li {
    margin-right: 0.8vw;
    margin-left: 0;
  }
}
@media (min-width: 590px) {
  .c-pagenation .page-numbers li:first-child {
    color: white;
  }
}
@media (min-width: 590px) {
  .c-pagenation .page-numbers li:last-child {
    margin-right: 0;
  }
}
.c-pagenation .page-numbers li a {
  display: block;
}
.c-pagenation .page-numbers li span {
  display: block;
  background-color: #3c2a1c;
  color: #ffffff;
}
.c-pagenation .page-numbers li .prev {
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  transform: rotate(-45deg);
  position: relative;
  margin-right: 2.5vw;
}
@media (min-width: 590px) {
  .c-pagenation .page-numbers li .prev {
    margin-left: 2vw;
  }
}
@media (min-width: 960px) {
  .c-pagenation .page-numbers li .prev {
    margin-left: -1vw;
  }
}
.c-pagenation .page-numbers li .prev::before {
  content: "";
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}
.c-pagenation .page-numbers li .next {
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  transform: rotate(135deg);
  position: relative;
  margin-left: 2.5vw;
}
@media (min-width: 590px) {
  .c-pagenation .page-numbers li .next {
    margin-left: 2vw;
  }
}
.c-pagenation .page-numbers li .next::before {
  content: "";
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}
.c-pagenation .page-numbers li:not(:has(.next)) {
  display: none;
}
@media (min-width: 590px) {
  .c-pagenation .page-numbers li:not(:has(.next)) {
    display: initial;
  }
}
.c-pagenation .page-numbers li:has(.next) {
  list-style: none;
  border: none;
}
.c-pagenation .page-numbers li:has(.prev) {
  display: initial;
  list-style: none;
  border: none;
}
.c-pagenation .navigation {
  width: 100%;
  margin-left: 5vw;
}

.prev-mark {
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  transform: rotate(-45deg);
  position: relative;
  margin-right: 2.5vw;
}
@media (min-width: 590px) {
  .prev-mark {
    margin-left: 2vw;
  }
}
@media (min-width: 960px) {
  .prev-mark {
    display: flex;
    margin-left: 1vw;
    margin-right: 0.8vw;
  }
}
.prev-mark::before {
  content: "";
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}

.next-mark {
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  transform: rotate(135deg);
  position: relative;
  margin-left: 2.5vw;
}
@media (min-width: 590px) {
  .next-mark {
    margin-left: 2vw;
  }
}
@media (min-width: 960px) {
  .next-mark {
    display: none;
  }
}
.next-mark::before {
  content: "";
  color: #707070;
  width: 12px;
  height: 12px;
  border-top: 1px solid #707070;
  border-left: 1px solid #707070;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
}

.c-single_pagination {
  padding-top: 16.5vw;
  padding-left: 5.3vw;
  padding-right: 5.3vw;
  padding-bottom: 8.5vw;
  display: flex;
  justify-content: space-evenly;
}
@media (min-width: 590px) {
  .c-single_pagination {
    padding-top: 0;
    padding-bottom: 3.8vw;
    padding-left: 14.6vw;
    padding-right: 14vw;
  }
}
@media (min-width: 960px) {
  .c-single_pagination {
    width: 100%;
    padding-top: 2.6vw 15vw 3.3vw;
  }
}
.c-single_pagination .c-page_number {
  display: block;
  color: #707070;
  font-size: 1.6rem;
  font-weight: 700;
  width: 35px;
  height: 35px;
  border: 1px solid #707070;
  margin-right: 1.7vw;
  text-align: center;
  line-height: 35px;
}
@media (min-width: 960px) {
  .c-single_pagination .c-page_number {
    margin-right: 0.8vw;
    margin-left: 0;
  }
}
.c-single_pagination .current .c-page_number {
  background-color: #3c2a1c;
  color: #ffffff;
}

.c-main__archive-ttlset {
  height: 78px;
  position: absolute;
  top: 106px;
  left: 9.8vw;
}
@media (min-width: 590px) {
  .c-main__archive-ttlset {
    height: 70px;
    position: absolute;
    top: 107px;
    left: 10.3vw;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 960px) {
  .c-main__archive-ttlset {
    position: absolute;
    top: 83px;
    left: 4.4vw;
  }
}

.c-main__archivettl {
  color: #ffffff;
  height: 43px;
  font-size: 3.6rem;
  font-weight: 700;
}
@media (min-width: 590px) {
  .c-main__archivettl {
    font-size: 6rem;
  }
}
@media (min-width: 960px) {
  .c-main__archivettl {
    font-size: 6rem;
    height: 70px;
  }
}
.c-main__archivettl-sub {
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 12px;
}
@media (min-width: 590px) {
  .c-main__archivettl-sub {
    margin-top: 35px;
    margin-left: 2.3vw;
  }
}
@media (min-width: 960px) {
  .c-main__archivettl-sub {
    margin-left: 1vw;
    margin-top: 40px;
  }
}

.c-mainvisual__archive {
  height: 285px;
  width: 100%;
  position: relative;
}
.c-mainvisual__archive::before {
  content: "";
  height: 285px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100;
  left: 100;
}
@media (min-width: 960px) {
  .c-mainvisual__archive::before {
    height: 239px;
  }
}
@media (min-width: 960px) {
  .c-mainvisual__archive {
    height: 239px;
  }
}
.c-mainvisual__archive img {
  height: 285px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 100;
  -o-object-position: left;
     object-position: left;
}
@media (min-width: 590px) {
  .c-mainvisual__archive img {
    -o-object-position: 40% 0%;
       object-position: 40% 0%;
  }
}
@media (min-width: 960px) {
  .c-mainvisual__archive img {
    height: 239px;
    -o-object-position: left;
       object-position: left;
  }
}
.c-mainvisual__archive img picture {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 100;
  -o-object-position: 50%;
     object-position: 50%;
}

.c-main__singlettl {
  color: #ffffff;
  height: 43px;
  font-size: 3.6rem;
  font-weight: 700;
  position: absolute;
  top: 93px;
  left: 6.9vw;
}
@media (min-width: 590px) {
  .c-main__singlettl {
    font-size: 6rem;
    position: absolute;
    top: 25.7vw;
    left: 10.3vw;
  }
}
@media (min-width: 960px) {
  .c-main__singlettl {
    font-size: 6rem;
    height: 70px;
    position: absolute;
    top: 213px;
    left: 4.4vw;
  }
}

.c-mainvisual__single {
  height: 225px;
  width: 100%;
  position: relative;
}
@media (min-width: 590px) {
  .c-mainvisual__single {
    height: 505px;
  }
}
.c-mainvisual__single img {
  height: 225px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
@media (min-width: 590px) {
  .c-mainvisual__single img {
    height: 505px;
  }
}
@media (min-width: 960px) {
  .c-mainvisual__single img {
    height: 500px;
  }
}

.c-main__pagettl {
  color: #ffffff;
  height: 43px;
  font-size: 3.6rem;
  font-weight: 700;
  position: absolute;
  top: 93px;
  left: 12vw;
}
@media (min-width: 590px) {
  .c-main__pagettl {
    font-size: 6rem;
    position: absolute;
    top: 25.7vw;
    left: 10.3vw;
  }
}
@media (min-width: 960px) {
  .c-main__pagettl {
    font-size: 6rem;
    height: 70px;
    position: absolute;
    top: 213px;
    left: 4.4vw;
  }
}

.c-mainvisual__page {
  height: 225px;
  width: 100%;
  position: relative;
}
@media (min-width: 590px) {
  .c-mainvisual__page {
    height: 505px;
  }
}
@media (min-width: 960px) {
  .c-mainvisual__page {
    width: 80%;
  }
}
.c-mainvisual__page img {
  height: 225px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 100;
  -o-object-position: left;
     object-position: left;
}
@media (min-width: 590px) {
  .c-mainvisual__page img {
    height: 505px;
  }
}
@media (min-width: 960px) {
  .c-mainvisual__page img {
    height: 500px;
    content: url("/images/black-steel-lamp-post-pc1070945.jpg");
  }
}

.blue-button .wp-block-button__link {
  background: linear-gradient(131deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
}

.c-single_main_contents {
  padding: 9vw 5.3vw;
  color: #3c2a10;
}
.c-single_main_contents h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 6.6vw;
}
.c-single_main_contents h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 7.4vw;
}
.c-single_main_contents h4, .c-single_main_contents h5, .c-single_main_contents h6 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 9vw;
}
.c-single_main_contents h5 {
  margin-bottom: 7.4vw;
}
.c-single_main_contents h6 {
  margin-bottom: 6.9vw;
}
.c-single_main_contents p {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 9.6vw;
}
.c-single_main_contents ul li {
  list-style: none;
}
.c-single_main_contents ul, .c-single_main_contents ol {
  list-style-position: inside;
  margin-bottom: 6.9vw;
}
.c-single_main_contents ul li > ul, .c-single_main_contents ul ol, .c-single_main_contents ol li > ul, .c-single_main_contents ol ol {
  margin: 4.5vw 0 4.5vw 4.8vw;
}
@media (min-width: 590px) {
  .c-single_main_contents {
    padding: 7.1vw;
  }
  .c-single_main_contents h2 {
    font-size: 3.6rem;
    margin-top: 0;
    margin-bottom: 6.5vw;
  }
  .c-single_main_contents h3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 6.7vw;
  }
  .c-single_main_contents h4 {
    margin-bottom: 8.7vw;
  }
  .c-single_main_contents h5 {
    margin-bottom: 6.8vw;
  }
  .c-single_main_contents h6 {
    margin-bottom: 6.7vw;
  }
  .c-single_main_contents p {
    margin-bottom: 7.4vw;
  }
  .c-single_main_contents ul, .c-single_main_contents ol {
    margin-bottom: 6.7vw;
  }
  .c-single_main_contents ul li > ul, .c-single_main_contents ul ol, .c-single_main_contents ol li > ul, .c-single_main_contents ol ol {
    margin: 2vw 0 2vw 2.1vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents {
    padding: 3.2vw 5.2vw;
    margin-bottom: 2.9vw;
  }
  .c-single_main_contents h2, .c-single_main_contents h3, .c-single_main_contents h4, .c-single_main_contents h5, .c-single_main_contents h6 {
    margin-bottom: 2.9vw;
  }
  .c-single_main_contents p {
    margin-bottom: 3.1vw;
  }
  .c-single_main_contents ul, .c-single_main_contents ol {
    margin-bottom: 2.9vw;
    font-size: 1.6rem;
  }
  .c-single_main_contents ul li > ul, .c-single_main_contents ul ol, .c-single_main_contents ol li > ul, .c-single_main_contents ol ol {
    margin: 0.8vw 0 0.8vw 0.9vw;
  }
}
.c-single_main_contents .wp-block-quote {
  background-color: #f5f5f5;
  padding: 8vw 5.3vw;
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 8vw;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-quote {
    padding: 5.9vw;
    margin-bottom: 7.1vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-quote {
    padding: 2.6vw;
    margin-bottom: 3.1vw;
  }
}
.c-single_main_contents .wp-block-quote p {
  margin-bottom: 8vw;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-quote p {
    margin-bottom: 7.3vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-quote p {
    margin-bottom: 3.1vw;
  }
}
.c-single_main_contents .wp-block-image img {
  width: 100%;
  height: 33vw;
  -o-object-position: bottom;
     object-position: bottom;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 8vw;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-image img {
    margin-bottom: 7.1vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-image img {
    margin-bottom: 3.1vw;
  }
}
.c-single_main_contents .wp-block-media-text {
  margin-bottom: 8vw;
  display: flex !important;
  gap: 2.6vw;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-media-text {
    margin-bottom: 14vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-media-text {
    margin-bottom: 3.1vw;
    gap: 2vw;
  }
}
.c-single_main_contents .wp-block-media-text .wp-block-media-text__media {
  align-self: auto;
  width: 38.4%;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-media-text .wp-block-media-text__media {
    width: 42.8%;
  }
}
.c-single_main_contents .wp-block-media-text .wp-block-media-text__content {
  padding: 0;
  width: 61.6%;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-media-text .wp-block-media-text__content {
    width: 57.2%;
    align-self: auto;
  }
}
.c-single_main_contents .wp-block-gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5.3vw;
  margin-bottom: 8.8vw;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-gallery {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1.9vw;
         column-gap: 1.9vw;
    row-gap: 2.3vw;
    margin-bottom: 7.3vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;
    margin-bottom: 2.8vw;
  }
}
.c-single_main_contents .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
  width: 100%;
  height: auto;
}
.c-single_main_contents .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) img {
  margin-bottom: 0;
}
.c-single_main_contents .source {
  color: #4a6c9b;
  text-decoration: underline;
}
.c-single_main_contents__btn {
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #DED8D3;
  margin: 5.3vw;
  margin-top: 10.7vw;
  width: 89.3vw;
  height: 81px;
  border: 1px solid #707070;
  border-radius: 20px;
}
@media (min-width: 590px) {
  .c-single_main_contents__btn {
    margin: 7.1vw;
    margin-top: 0;
    width: 51.4vw;
    height: 104px;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents__btn {
    width: 22.3vw;
    margin: 3.1vw 5.2vw;
  }
}
.c-single_main_contents__note {
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 5.3vw;
  padding-top: 2.9vw;
  padding-bottom: 13.1vw;
}
@media (min-width: 590px) {
  .c-single_main_contents__note {
    margin-left: 7.1vw;
    padding-top: 0;
    padding-bottom: 17.8vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents__note {
    margin-left: 5.2vw;
    padding-bottom: 14.2vw;
  }
}
.c-single_main_contents .wp-block-table table {
  border: 1px solid #707070;
  border-collapse: collapse;
  padding: 8% 5.35% 0 5.35%;
  margin-bottom: 16vw;
}
.c-single_main_contents .wp-block-table table tr td {
  height: 77px;
  padding-left: 6.2vw;
  border: 1px solid #707070;
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 400;
}
.c-single_main_contents .wp-block-table table tr td:first-child {
  width: 41.8%;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-table table tr td {
    padding-left: 3.5vw;
  }
  .c-single_main_contents .wp-block-table table tr td:first-child {
    width: 30.1%;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-table table tr td {
    padding-left: 1.5vw;
  }
  .c-single_main_contents .wp-block-table table tr td:first-child {
    width: 30.5%;
  }
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-table table {
    margin-bottom: 7.1vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-table table {
    margin-bottom: 3.1vw;
  }
}
.c-single_main_contents .wp-block-code {
  margin-bottom: 8vw;
  color: #3c2a10;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #f5f5f5;
  padding: 13.3vw;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-code {
    margin-bottom: 7.1vw;
    padding: 5.9vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-code {
    margin-bottom: 2.6vw;
    padding: 2.6vw;
  }
}
.c-single_main_contents .wp-block-button {
  width: 100%;
  height: 81px;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 15px;
  background: linear-gradient(90deg, #F2EDE9 0%, #DED8D3 100%);
  margin-bottom: 8.2vw;
  display: flex;
  justify-content: center;
}
.c-single_main_contents .wp-block-button__link {
  background-color: initial;
  color: #3c2a10;
  font-size: 1.6rem;
  align-self: center;
}
@media (min-width: 590px) {
  .c-single_main_contents .wp-block-button {
    width: 51.4vw;
    height: 104px;
    margin-bottom: 7.3vw;
  }
}
@media (min-width: 960px) {
  .c-single_main_contents .wp-block-button {
    width: 22.3vw;
    margin-bottom: 3.1vw;
  }
}

.c-single__visual {
  margin: 8vw 5.3vw;
}
@media (min-width: 590px) {
  .c-single__visual {
    margin: 7.1vw;
  }
}
@media (min-width: 960px) {
  .c-single__visual {
    margin: 5.2vw 5.2vw 3.1vw 5.2vw;
    margin-top: 0;
  }
}
.c-single__visual img {
  width: 89.3vw;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 590px) {
  .c-single__visual img {
    height: 264px;
    width: 85.6vw;
  }
}
@media (min-width: 960px) {
  .c-single__visual img {
    width: 70.4vw;
    height: 500px;
  }
}
.c-single__visual-mid {
  margin: 14.4vw;
  margin-top: 0;
  margin-bottom: 8vw;
}
@media (min-width: 590px) {
  .c-single__visual-mid {
    margin: 15.2vw;
    margin-top: 0;
  }
}
@media (min-width: 960px) {
  .c-single__visual-mid {
    margin: 25.3vw;
    margin-top: 0;
    margin-bottom: 3.1vw;
  }
}
.c-single__visual-mid img {
  width: 69.6vw;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 960px) {
  .c-single__visual-mid img {
    width: 30.2vw;
  }
}

@media (min-width: 960px) {
  .l-contens_wrapper {
    display: flex;
  }
}

.l-main_contents {
  width: 100%;
}
@media (min-width: 960px) {
  .l-main_contents {
    width: 80vw;
  }
}

.notfound {
  margin-bottom: 5vw;
}

.toplink {
  text-decoration: underline;
}
/*# sourceMappingURL=hamburger.css.map */