@use "../../foundation/base";

.c-archive {
    @include base.breakpointPc {
        width: 80%;
    }

    &__ttl {
        color: base.$color--brown;
        font-size: 2.8rem;
        font-weight: 700;
        margin-left: 5.8vw;
        margin-top: 8.5vw;
    
        @include base.breakpointTablet {
            font-size: 3.6rem;
            margin-top: 4.6vw;
            margin-left: 5vw;
        }
    
        @include base.breakpointPc {
            margin-top: 3.2vw;
            margin-left: 5.2vw;
        }
    }

    &__txt {
        color: base.$color--brown;
        font-size: 1.6rem;
        font-weight: 400;
        margin-left: 5.8vw;
        margin-top: 6.6vw;
        margin-right: 4.8vw;
    
        @include base.breakpointTablet {
            margin-left: 5vw;
            margin-top: 2.24vw;
            margin-right: 4.2vw;
        }
    
        @include base.breakpointPc {
            margin-left: 5.2vw;
            margin-top: 1vw;
            margin-right: 5.2vw;
        }
    }
}