@use "../../foundation/base";

.c-code {
    color: base.$color--brown;
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #f5f5f5;
    margin: 5.3vw;
    //margin-top: -8.3vw;
    padding-top: 7vw;
    padding-bottom: 5vw;

    @include base.breakpointTablet {
        margin: 7.1vw;
        margin-top: 6.7vw;
        padding-top: 5.9vw;
        padding-bottom: 5.9vw;
    }

    @include base.breakpointPc {
        width: 70.4vw;
        margin: 5.2vw;
        margin-top: 0;
        padding-top: 2.6vw;
        padding-bottom: 2.6vw;
        padding-right: 3.1vw;   
    }
}