@use "../../foundation/base";

.c-pagenation {
    padding-top: 16.5vw;
    padding-left: 5.3vw;
    padding-right: 5.3vw;
    padding-bottom: 8.5vw;
    display: flex;
    justify-content: space-evenly;

    @include base.breakpointTablet {
        padding-top: 0;
        padding-bottom: 3.8vw;
        padding-left: 35.0vw;
        padding-right: 45.0vw;
    }

    @include base.breakpointPc {
        width: 100%;
        padding-left: 30.0vw;
        padding-right: 30.0vw;
    }

    &__btn {
        color: base.$color--gray;
        font-size: 1.6rem;
        font-weight: 400;

        @include base.breakpointTablet {
            font-size: 0;
        }
    }

    &__pageno {
        display: none;

        @include base.breakpointTablet {
            width: 8.7vw;
            height: 33px;
            color: base.$color--gray;
            display: unset;
            font-size: 1.6rem;
            font-weight: 700;
            margin-right: 0.3vw;
            margin-top: 8px;
            white-space: nowrap;
        }

        @include base.breakpointPc {
            display: flex;
            width: 3.8vw;
            margin-right: 2vw;
        }
    }

    .page-numbers {
        display: flex;
        justify-content: space-between;

        li {    
            @include base.breakpointTablet {
                display: block;
                color: base.$color--gray;
                font-size: 1.6rem;
                font-weight: 700;
                width: 35px;
                height: 35px;
                border: 1px solid base.$color--gray;
                margin-right: 1.7vw;
                text-align: center;
                line-height: 35px;
    
                @include base.breakpointPc {
                    margin-right: 0.8vw;
                    margin-left: 0;
                }
                
                &:first-child {
                    color: white;
                }
    
                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                display: block;
            }

            span {
                display: block;
                background-color: base.$color--darkbrown;
                color: base.$color--white;
            }

            .prev {
                color: base.$color--gray;
                width: 12px;
                height: 12px;
                border-top: 1px solid base.$color--gray;
                border-left: 1px solid base.$color--gray;
                display: inline-block;
                transform: rotate(-45deg); 
                position: relative;
                margin-right: 2.5vw;
    
                @include base.breakpointTablet {
                    margin-left: 2.0vw;
                }
    
                @include base.breakpointPc {
                    margin-left:  -1vw;                    
                }
    
                &::before {
                    content: "";
                    color: base.$color--gray;
                    width: 12px;
                    height: 12px;
                    border-top: 1px solid base.$color--gray;
                    border-left: 1px solid base.$color--gray;
                    display: inline-block;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
    
            .next {
                color: base.$color--gray;
                width: 12px;
                height: 12px;
                border-top: 1px solid base.$color--gray;
                border-left: 1px solid base.$color--gray;
                display: inline-block;
                transform: rotate(135deg); 
                position: relative;
                margin-left: 2.5vw;
    
                @include base.breakpointTablet {
                    margin-left: 2.0vw;
                }
    
                &::before {
                    content: "";
                    color: base.$color--gray;
                    width: 12px;
                    height: 12px;
                    border-top: 1px solid base.$color--gray;
                    border-left: 1px solid base.$color--gray;
                    display: inline-block;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                }
            }
        }

        li:not(:has(.next)) {
            display: none;

            @include base.breakpointTablet {
                display: initial;
            }
        }

        li:has(.next) {
            list-style: none;
            border: none;

        }

        li:has(.prev) {
            display: initial;
            list-style: none;
            border: none;
        }
    }

    .navigation {
        width: 100%;
        margin-left: 5vw;
    }
}

.prev-mark {
    color: base.$color--gray;
    width: 12px;
    height: 12px;
    border-top: 1px solid base.$color--gray;
    border-left: 1px solid base.$color--gray;
    display: inline-block;
    transform: rotate(-45deg); 
    position: relative;
    margin-right: 2.5vw;

    @include base.breakpointTablet {
        margin-left: 2.0vw;
    }

    @include base.breakpointPc {
        display: flex;
        margin-left: 1vw;
        margin-right: 0.8vw;
    }

    &::before {
        content: "";
        color: base.$color--gray;
        width: 12px;
        height: 12px;
        border-top: 1px solid base.$color--gray;
        border-left: 1px solid base.$color--gray;
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 5px;
    }
}

.next-mark {
    color: base.$color--gray;
    width: 12px;
    height: 12px;
    border-top: 1px solid base.$color--gray;
    border-left: 1px solid base.$color--gray;
    display: inline-block;
    transform: rotate(135deg); 
    position: relative;
    margin-left: 2.5vw;

    @include base.breakpointTablet {
        margin-left: 2.0vw;
    }

    @include base.breakpointPc {
        display: none;
    }

    &::before {
        content: "";
        color: base.$color--gray;
        width: 12px;
        height: 12px;
        border-top: 1px solid base.$color--gray;
        border-left: 1px solid base.$color--gray;
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 5px;
    }
}

.c-single_pagination {
    padding-top: 16.5vw;
    padding-left: 5.3vw;
    padding-right: 5.3vw;
    padding-bottom: 8.5vw;
    display: flex;
    justify-content: space-evenly;

    @include base.breakpointTablet {
        padding-top: 0;
        padding-bottom: 3.8vw;
        padding-left: 14.6vw;
        padding-right: 14.0vw;
    }

    @include base.breakpointPc {
        width: 100%;
        padding-top: 2.6vw 15vw 3.3vw;
    }

    .c-page_number {
        display: block;
        color: base.$color--gray;
        font-size: 1.6rem;
        font-weight: 700;
        width: 35px;
        height: 35px;
        border: 1px solid base.$color--gray;
        margin-right: 1.7vw;
        text-align: center;
        line-height: 35px;

        @include base.breakpointPc {
            margin-right: 0.8vw;
            margin-left: 0;
        }
    }

    .current .c-page_number {
        background-color: base.$color--darkbrown;
        color: base.$color--white;
    }
}